<center>
  <h1>TimPlayer: HTML5 Video Player that is an Open Source and beautiful alternative to Vimeo, JWPlayer, VideoJS, Youtube, Wistia</h1>
  <video width="640" height="360">
      <source src="http://embed.wistia.com/deliveries/afe41e4a3b366c5599fb17d96c469ad85007e2df/file.mp4" type="video/mp4">
  </video>
</center>